.appCard {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
  padding: 96px 0;
}
.appCard .card {
  background: #53389e;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  border-radius: 24px;

  display: grid;
  grid-template-columns: 50% 50%;
}
.appCard .card .cardContent {
  margin: 122px 0 0 64px;
  color: white;
}
.appCard .card .cardContent .subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.appCard .card .cardContent .title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin: 20px 0 0;
}
.appCard .card .cardContent p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #e9d7fe;
  width: 85%;
  font-size: 18px;
  line-height: 30px;
}
.appCard .card .img {
  margin-top: 44px;
}
.appCard .card .img .app {
  width: 100%;
  height: fit-content;
}
.appCard .card .img .phone {
  display: none;
}

@media only screen and (max-width: 600px) {
  .appCard .card {
    grid-template-columns: 100%;
  }
  .appCard .card .cardContent {
    margin: 0;
    width: 80%;
    margin: 0 auto;
  }
  .appCard .card .cardContent .subtitle {
    display: none;
  }
  .appCard .card .cardContent .title {
    margin: 40px 0 0;
    font-size: 30px;
    line-height: 38px;
  }
  .appCard .card .cardContent p {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    margin-top: 16px;
  }
  .appCard .card .img .app {
    display: none;
  }
  .appCard .card .img {
    margin: 50px auto 0;
    width: 95%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .appCard .card .img .phone {
    display: initial;
    margin-top: 50px;
  }
}
