.conceptContainer {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.conceptContainer .head .subtitle {
  padding: 4px 10px 4px 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #6941c6;
}
.conceptContainer .head .title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
  margin: 12px 0 0;
}
.conceptContainer .head .brief {
  width: 95%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
  margin: 20px 0 0;
}
.conceptContainer .body {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 45% 55%;
}
.conceptContainer .body .content {
  margin-top: 72px;
}
.conceptContainer .body .content .feature p {
  margin-top: 20px;
  width: 70%;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}
.conceptContainer .img .phone {
  display: none;
}

@media only screen and (max-width: 600px) {
  .conceptContainer {
    margin-top: 64px;
    height: 1200px;
    overflow: hidden;
  }
  .conceptContainer .head .subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .conceptContainer .head .title {
    font-size: 30px;
    line-height: 44px;
  }
  .conceptContainer .head .brief {
    font-size: 18px;
    line-height: 30px;
    margin: 16px 0 0;
  }
  .conceptContainer .body {
    grid-template-columns: 100%;
  }
  .conceptContainer .body .content {
    margin-top: 48px;
  }
  .conceptContainer .img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .conceptContainer .img .conceptImg {
    display: none;
  }
  .conceptContainer .img .phone {
    display: initial;
    margin-top: 50px;
  }
}
