.newsletter {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 64px;
}

.newsletter .content {
  margin-top: 200px;
}
.newsletter .content .title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
  margin: 0;
}
.newsletter .content form {
  margin-top: 40px;
}
.newsletter .content form input {
  font-family: Inter;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 14px 12px 16px;
  width: 50%;
  margin-right: 16px;
}
.newsletter .content form button {
  padding: 12px 20px;
  background: #53389e;
  border: 1px solid #53389e;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: white;
  font-family: Inter;
  border-radius: 8px;
  cursor: pointer;
}

.newsletter .content form p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #198754;
}

.newsletter .img {
  margin: 96px 0;
}
@media only screen and (max-width: 600px) {
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  .newsletter .content {
    margin-top: 130px;
  }
  .newsletter .content .title {
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter .content form {
    display: flex;
    flex-direction: column;
  }
  .newsletter .content form input,
  .newsletter .content button {
    width: 100%;
    margin-bottom: 16px;
  }
  .newsletter .content form p {
    display: none;
  }
  .newsletter .img {
    margin-top: 64px;
    margin-bottom: 0;
  }
  .newsletter .img img {
    width: 100%;
  }
}
