.weezeeMap {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.weezeeMap .img {
  margin-top: 45.5px;
}
.weezeeMap .img img {
  width: 90%;
}
.weezeeMap .content .subtitle {
  padding: 4px 10px 4px 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #6941c6;
  mix-blend-mode: multiply;
  margin-top: 64.5px;
}
.weezeeMap .content .title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
  margin: 24px 0 8px;
}
.weezeeMap .content .feature {
  margin-top: 40px;
}
.weezeeMap .content .feature p {
  width: 70%;
  margin: 20px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}
@media only screen and (max-width: 600px) {
  .weezeeMap {
    display: flex;
    flex-direction: column-reverse;
  }
  .weezeeMap .content .subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .weezeeMap .content .title {
    font-size: 30px;
    line-height: 38px;
    margin: 32px 0 24px;
  }
  .weezeeMap .content .feature p {
    font-size: 18px;
    line-height: 30px;
  }
  .weezeeMap .img {
    margin-top: 64px;
  }
  .weezeeMap .img img {
    width: 100%;
    height: 360px;
    position: absolute;
    left: 0;
  }
}
